.contact-container {
  width: 100%;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 28px;
  color: #007bff;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-item {
  text-align: center;
}

.info-item i {
  font-size: 24px;
  color: #28a745;
  margin-bottom: 10px;
}

.contact-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 22px;
  color: #17a2b8;
  margin-bottom: 20px;
}

#dark h2{
    color: #000;
}

form {
  display: flex;
  flex-direction: column;
  color: black;
}

label {
  font-size: 16px;
  margin-bottom: 8px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}
