* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --light_background-color: #f3ebf6;
  --dark_navbackground-color: rgb(33, 38, 41);
  --dark_background-color: #4b4e4d;
  --dark_text-color: white;
}

#light {
  background-color: white;
}

#dark {
  background-color: var(--dark_background-color);
  color: var(--dark_text-color);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#navbar {
  width: 100%;
  box-shadow: 0 6px 5.62px rgba(0, 0, 0, 0.2);
  elevation: 8;
}

#light #navbar {
  width: 100%;
}

#dark #navbar {
  background-color: var(--dark_navbackground-color);
}

.nav_button {
  display: flex;
  justify-items: space-between;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.nav-link {
  font-weight: bold;
  color: #333;
}

#logo {
  width: 50px;
  border-radius: 200px;
}



.container {
min-height: 100vh;
}

#dark .container{
min-height: 100vh;
}
.name {
  font-size: 27px;
  font-weight: 600;
}
#light .name {
  color: navy;
}

#dark .name {
  color: aqua;
}

#light .navbar-toggler {
  background-color: #565353;
}


#dark .navbar-toggler {
  background-color: white;
}

.intro{
  display: flex;
  flex-direction: row;
}

.profile-pic{
  width: 10rem;
  height: 10rem;
  border-radius: 60rem;
}

@media screen and (max-width: 768px) {

.intro{
flex-direction: column;
width: fit-content;
height: fit-content;
  }
  
}