* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_button {
  display: flex;
  justify-items: space-between;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.nav-link {
  font-weight: bold;
  color: #333;
}

#logo {
  width: 50px;
}
